<div class="row">
  <div class="col-md-8 mt-3">
    <% if @user.items.any? %>
      <p><%= t('views.collection') %></p>

      <% @user.items.each do |item| %>
        <div class="rov">
          <div class="col-md-4">
            <%= item.name %>
            <span class="float-right"><%= link_to 'Show', item %></span>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="col-md-4 text-right mt-5">
    <p>
      <%= image_tag user_avatar(@user), size: "200x200", class: 'rounded-circle' %>
    </p>

    <p>
      <strong><%= t('models.user.atrributes.name') %>: </strong>
      <%= @user.name %>
    </p>

    <% if user_admin? %>
      <p>
        <strong><%= t('models.user.atrributes.role') %>: </strong>
        <%= @user.role %>
      </p>
    <% end %>

  </div>
</div>

<% if user_can_edit?(@user) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
<% end %>
