<% if current_user %>
  <%= link_to 'New Item', new_item_path, class: 'btn btn-outline-info mt-3' %>
<% end %>

<div class="row mt-4 justify-content-center">
  <%= render 'search_form' %>
</div>

<% @items.each_with_index do |item, i| %>
  <% side = i.odd? ? 'left_posit' : 'right_posit' %>
  <% direct = i.odd? ? 'flex-row' : 'flex-row-reverse' %>

  <div class="<%= side %> container mt-5 border_rad20">
    <div class="row d-flex <%= direct %> justify-content-between">
      <div class="col-sm-6 m-auto text-center">
        <h3><%= item.name %></h3>
        <h3><%= item.type.name %></h3>
        <h3><%= item.user.name %></h3>
      </div>
      <% if item.type.name == 'mark' %>
        <%= render partial: 'items/mark', locals: {item: item} %>
      <% elsif item.type.name == 'coin' %>
        <%= render partial: 'items/coin', locals: {item: item} %>
      <% else %>
        <%= render partial: 'items/default_type', locals: {item: item} %>
      <% end %>
    </div>
  </div>
<% end %>
