<% if current_user %>
  <%= link_to 'New Item', new_item_path, class: 'btn btn-outline-info mt-3' %>
<% end %>

<div class="row mt-4 justify-content-center">
  <%= render 'search_form' %>
</div>

<% @items.each_with_index do |item, i| %>
  <div class="<%= back_side(i) %> container mt-5 border_rad20">
    <div class="row d-flex <%= direct_cont(i) %> justify-content-between">
      <div class="col-sm-6 m-auto text-center">
        <h3><%= item.name %></h3>
        <h3><%= item.type.name %></h3>
        <h3><%= item.user.name %></h3>
      </div>
      <% if item.type.name.downcase == 'монеты' %>
        <%= render partial: 'items/coin_type', locals: { item: item } %>
      <% elsif item.type.name.downcase == 'марки' %>
        <%= render partial: 'items/mark_type', locals: { item: item } %>
      <% else %>
        <%= render partial: 'items/default_type', locals: { item: item } %>
      <% end %>
    </div>
  </div>
<% end %>
