<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @item.city %>
</p>

<p>
  <strong>Year:</strong>
  <%= @item.year %>
</p>

<p>
  <strong>Type:</strong>
  <%= @item.type.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p>

<p>
  <strong>Price current:</strong>
  <%= @item.price_current %>
</p>

<p>
  <strong>Price purchase:</strong>
  <%= @item.price_purchase %>
</p>

<div class="">
  <%= render partial: "photos/photo", collection: @item.photos.except(@new_photo) %>
</div>

<div class="event-photo-form">
  <%= render partial: "photos/form", locals: { photo: @new_photo || @item.photos.build } if current_user.present? %>
</div>

<div class="row">
  <div class="col-8 ">
    <%= render partial: "comments/comment",
               collection: @item.comments.except(@new_comment).order(created_at: :desc) %>

  </div>
  <div class="col-4">
    <%= render partial: "comments/form",
               locals: { comment: @new_comment || @item.comments.build } %>
  </div>
</div>

<% if current_user %>
  <%= link_to "Edit", edit_item_path(@item) %> |
  <%= link_to "Back", items_path %> |
  <%= link_to "Destroy", @item, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
