<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @item.city %>
</p>

<p>
  <strong>Year:</strong>
  <%= @item.year %>
</p>

<p>
  <strong>Type:</strong>
  <%= @item.type_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @item.photo_ids %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p>

<p>
  <strong>Price current:</strong>
  <%= @item.price_current %>
</p>

<p>
  <strong>Price purchase:</strong>
  <%= @item.price_purchase %>
</p>

<div class="">
  <%= render partial: 'comments/form',
             locals: {comment: @new_comment || @item.comments.build} %>

  <div class="buffer-both">
    <%= render partial: 'comments/comment',
               collection: @item.comments.except(@new_comment).order(created_at: :desc) %>
  </div>
</div>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
