<!DOCTYPE html>
<html>
<head>
  <title>Collection</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
  <div class="container">
    <%= link_to t('views.home'), root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse w-100 order-3">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to t('views.collection'), items_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to t('views.type'), types_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to t('views.profile'), current_user, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to t('views.log_out'), destroy_user_session_path, :method => :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item active ml-auto">
            <%= link_to t('views.log_in'), new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to t('views.sing_up'), new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="alert-message">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
</div>
</body>

</html>
